<div id="wrapper">


<div id="first">
	<div>
  	<h1>Login</h1>
</div>
  

 <div id="second">
    
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
 <div class="form-group">
        <%= f.submit "Sign in", class: "btn btn-primary" %>
      </div>
 
<% end %>

</div>

<div style="position:absolute; left:400px; top:85px;">

		<h1> </span>Welcome to IVLens</h1>
		
    
    
    <p> <span class="glyphicon glyphicon-plus"></span>      View photos from the world around you</p>
		

    <p> <span class="glyphicon glyphicon-plus"></span>      Share with people you know </p>


	
		<p> <span class="glyphicon glyphicon-plus"></span>      Free and easy to navigate</p>

		<p> <span class="glyphicon glyphicon-plus"></span>      a service that anyone can use </p>
	</div>

<div style="position:absolute; left:800px; top: 85px;">

    
    <h1><%= link_to "facebook IVLens", "https://www.facebook.com/pages/IVlens/447343398774475" %></h1>
    <h1>Twitter @IVLens</h1>


</div>

  <div>
    <h1> View the Live Feed: </h1>
  </div>

	</div>

</div>





